[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
neovim = "*"
bpython = "*"
starlette = "*"

[packages]
pytest = "*"
responder = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
